# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl

# virtual environments
dbt-env/

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/

# ignore generated datasets
generated_data/
# dbt artifacts
*.json
# *.csv
profiles.yml

# but KEEP seeds folder structure (optional rule below)

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter (if used later)
# =========================
.ipynb_checkpoints/

# =========================
# Local database / dumps
# =========================
*.sqlite
*.db
*.dump

# =========================
# Temporary files
# =========================
*.log
tmp/
temp/